{{#extend "layout"}}
  {{#content "content"}}
    <h1>Code Works</h1>

    <ul class="list-unstyled posts-list codeworks-list">
      {{#each codeworks}}
        <li>
          <h3>
            {{#if this.demoURL}}
              <a target="_blank" href="{{this.demoURL}}">{{this.name}}</a>
            {{else}}
              <a target="_blank" href="https://github.com/selvagsz/{{this.github-slug}}">{{this.name}}</a>
            {{/if}}
          </h3>
          <p>{{this.description}}</p>
        </li>
      {{/each}}
    </ul>
  {{/content}}
{{/extend}}
