{{#extend "layout"}}
  {{#content "content"}}
    <header id="header">
      <h1>{{title}}</h1>
      <date>{{moment date}}</date>
    </header>
    {{{contents}}}
    <div class="footlinks">
      <a class="pull-right {{ifeq previous.path 'show'}}" href="/{{previous.path}}">{{previous.title}} >></a>
      <a class={{ifeq next.path 'show'}} href="/{{next.path}}"><< {{next.title}}</a>
    </div>
  {{/content}}
{{/extend}}
