{{#extend "layout"}}
  {{#content "content"}}
    <h1>All Posts</h1>

    <ul class="list-unstyled posts-list">
      {{#each pagination.files}}
        <li>
          <h3><a href="/{{this.path}}">{{this.title}}</a></h3>
          <p>{{{this.excerpt}}}</p>
        </li>
      {{/each}}
    </ul>
    <div class="btn-toolbar text-center">
      {{#if pagination.previous}}
        <a class="btn" href="/{{pagination.previous.path}}">Newer</a>
      {{/if}}
      {{#if pagination.next}}
        <a class="btn" href="/{{pagination.next.path}}">Older</a>
      {{/if}}
    </div>
  {{/content}}
{{/extend}}
